/* Mobile First design */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-size: 16px;
    width: 100%;
}

.title_sec {
    text-align: center; 
}

.board {
    position: relative;
    margin: 0 auto 1rem;
    border: 1px solid black;
    width: 90%;
    height: 15rem;
}

img {
    position: absolute;
    margin: 0 auto;
}

.keys {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.key-A {
    min-width: 100%;
}

.key {
    margin: .2rem;
    width: 3.5rem;
    height: 3.5rem;
    border: .15rem solid black;
    border-radius: 2rem;
    background: lightblue;
    color: white;
    text-align: center;
    transition: all .1s ease;
    position: relative;
}

kbd {
    /* background: green; */
    position: absolute;
    top: .6rem;
    right: .65rem;
    font-size: 1.75rem;
}

.pressed {
    transform: scale(1.5);
    background: orange;
}

img {
    width: 6rem;
    height: 6rem;
}

/* Tablet screens */
@media (min-width: 480px) {
    .board {
        position: relative;
        margin: 0 auto;
        border: 1px solid black;
        width: 60%;
        height: 20rem;
    }

    img {

    }
}

/* Desktop screens */
@media (min-width: 600px) {

}